@active-number-colour: #10CB76;
@inactive-number-colour: #DDD;
@cool-light-grey: #CCC;
@very-lght-grey: #EEEEEE;
@estimation-cell-padding: 1em;
@white: #FFF;


.is-hidden {
  display: none;
}

.is-centered {
  margin: 0px auto;
}

.session-title {
  font-size: 3.2em;
  font-weight: 100;
  border-bottom: 1px solid #888;
  margin-bottom: 20px;
}
.sub-header {
  background-color: @cyan;
  min-height: 40px;
  margin-bottom: 30px;
}

.sub-header .white-text {
  padding: 7px 50px 5px 50px;
  font-size: 1.8em;
  color: #fff;
}


.progress-tasks {
  counter-reset: progress-tasks;
  font-size: 2em;
  font-weight: 100;
  margin: 20px 0 20px 0;
  color: @inactive-number-colour;
  .active {
    color: @active-number-colour;
    font-weight: 200;
    .number {
      border-color: @active-number-colour;
    }
  }
  .number {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid @inactive-number-colour;
    text-align: center;
    margin-right: 10px;
  }


}

.btn--primary {
  margin-top: 20px;
  display: block;
}

.btn-holder {
    float: right;
    width: 20%;
}
.btn-arrow {
  width: 100px;
  height: 100px;

  display: block;
  background-image: url('../img/arrow420.svg');
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 70px 70px;
  text-indent: -32000px;
}



.form-control{
    border: none;
    background-color: @very-lght-grey;
    font-size: 3.2em;
    font-weight: 100;
    width: 75%;
    border-radius: 0px;
    box-shadow: none;
    height: 70px;
    text-align: left;
}




.taskList {
  padding: 0;
  margin: 0 auto 20px;
  width: 75%;
  li {
    list-style-type: none;
    padding: 0em;
    margin: 0px;
    font-size: 2em;
    font-weight: 100;
  }
}


.estimation-tasks {
  width: 100%;
}

.estimation-tasks__row {
  border-top: 1px solid @cool-light-grey;
}

.estimation-task__header,
.estimation-task__cell {
  padding: @estimation-cell-padding;
  width: 15%;
  &:first-child{
    width: 70%;
  }
}

.session-title__action {
  float: right;
}

.btn--big {
  font-size: 2em;
}

.btn--primary {
  color: @white;
  background-color: @active-number-colour;
  &:hover {
    color: @white;
    background-color: darken(@active-number-colour, 10%);
  }
}




