.sub-header {
  background-color: @cyan;
  min-height: 40px;
  margin-bottom: 30px;
}

.sub-header .white-text {
  padding: 7px 50px 5px 50px;
  font-size: 1.8em;
  color: #fff;
}

.input-group {
  .input-group-addon {
    display: none;
  }
  .form-control{
    border: none;
    border-left: 1px solid #ddd;
    font-size: 3.2em;
    font-weight: 100;
    width: 100%;
    border-radius: 0px;
    box-shadow: none;
    height: 70px;
    text-align: left;
  }
}
